#light .bgNav{
    background-color: #F5F8FB;
}
#dark .bgNav{
    background-color: #0B1221;
}

#light .bgBodyPrimary{
    background-color: #ffffff;
}
#dark .bgBodyPrimary{
    background-color: #0E1629;
    opacity: .99;
}

#light .bgBodySecondary{
    background-color: #f8f6f9;
}
#dark .bgBodySecondary{
    background-color: #090A27;
}

#light .bgBrand{
    background-color: #f8f6f9;
}
#dark .bgBrand{
    background-color: #090A27;
    opacity: 1;
}

#light .cardBgPrimary{
    background-color: #f8fdff;
}
#dark .cardBgPrimary{
    background-color: #182233;
}

#light .cardBgSecondary{
    background-color: #CCCCCC;
}
#dark .cardBgSecondary{
    background-color: #070c18d9;
}

#light .borderColor{
    border-color: rgba(248,250,252,.08);
}
#dark .borderColor{
    border-color: rgba(71,85,105,.1);
}

#light .textHeading{
    color: #0F172A;
}
#dark .textHeading{
    color: #E2E8F0;
}

#light .textParagraph{
    color: #465365;
}
#dark .textParagraph{
    color: #8896AB;
}

#light .textHeadingStyle{
    color: #6D28D9;
}
#dark .textHeadingStyle{
    color: #38BDF8;
}

#light .btnBg{
    background-color: #0F172A;
}
#dark .btnBg{
    background-color: #0284C7;
}


#dark .textHoverColor:hover{
    color: #0F172A;
}
#light .textHoverColor:hover{
    color: #0F172A;
}

#dark .textHoverColor2:hover{
    color: #E2E8F0;
}
#light .textHoverColor2:hover{
    color: #0F172A;
}

/* Swiper slider */

#light .swiper-pagination-bullet {
    opacity: .9 !important;
    background: #0B1221 !important;
}

#dark .swiper-pagination-bullet {
    opacity: .9 !important;
    background: #F5F8FB !important;
}

#light .swiper-pagination-bullet-active, #dark .swiper-pagination-bullet-active {
    background: #570DF8 !important;
}
